  <mat-card>
    <div class="p-3">
      <mat-card-title class="p-2">Seleccione una categoría:</mat-card-title>
      <mat-card-content>

        <form [formGroup]="myForm">
          <mat-form-field class="w-full">
          <mat-label>-- Listado de categorías --</mat-label>

          <mat-select formControlName="category">

            <!--
            <mat-option *ngFor="let category of categories"> {{}} </mat-option>
            -->

          </mat-select>
        </mat-form-field>
        </form>

      </mat-card-content>
    </div>
  </mat-card>
